:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
  --color-navy-blue: #2e2f42;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-navy-blue);
  background-color: var(--color-white);
}
ul {
  list-style-image: none;
  list-style-type: none;
}

/* Logo */
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-iris);
  letter-spacing: 0.03em;
}
.logo-item-top {
  color: var(--color-navy-blue);
  letter-spacing: 0.03em;
}
.logo-item-bottom {
  color: var(--color-cloud);
  letter-spacing: 0.03em;
}
/* Button */
.button-studio {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-studio:hover,
.button-studio:focus {
  background-color: var(--color-ocean);
}
/* Nav */
.navigation {
  text-decoration: none;
  color: var(--color-slate);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.navigation:hover,
.navigation:focus {
  color: var(--color-ocean);
}

.contacts:hover,
.contacts:focus {
  color: var(--color-ocean);
}
.contacts {
  color: var(--color-slate);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

/* text */

.main-title {
  color: var(--color-white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.main-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
.main-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.main-text {
  font-size: 16px;
  line-height: 1.5;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-cornflower);
}

/* background */

.background {
  background-color: var(--color-navy-blue);
}
